.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25rem;
  }

  &__screen {
    height: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(65, 52, 55);
    color: white;
    font-size: 62px;

    span {
      padding: 1rem;
    }
  }

  &__buttons {
    display: flex;
    height: 75%;

    &__numbers {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      width: 75%;

      #clear {
        width: 33.3%;
        order: 1;
        color: rgba(0, 0, 0, 0.5);
        font-size: 34px;
      }

      button {
        background: white;
        color: black;
        border: 1px solid black;
        font-size: 48px;
        &:not(:last-of-type) {
          width: 33.3%;
        }
        &:nth-child(10) {
          order: 2;
          width: 33.3%;
        }

        &:nth-child(12) {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          order: 3;
          width: 33.3%;
          background: rgb(223, 63, 84);
          color: white;
          border: 1px solid black;
          font-size: 48px;
        }
      }
    }

    &__functions {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;

      button {
        width: 100%;
        height: 25%;
        background: rgb(223, 63, 84);
        color: white;
        border: 1px solid black;
        font-size: 48px;
      }
    }
  }
}
